 .u-section-1 {
  min-height: 938px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 800px);
  height: 591px;
  background-image: none;
  margin: 287px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1011px;
  margin: 60px calc(((100% - 1140px) / 2)) 80px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 807px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  height: 565px;
  object-position: 50% 100%;
  background-position: 50% 100%;
  box-shadow: 0 0 22px 0 rgba(51,46,41,0.2);
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 26px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 69px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 425px;
}

.u-section-1 .u-image-2 {
  height: 356px;
  box-shadow: 0 0 25px 0 rgba(51,46,41,0.2);
  margin: 75px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 425px;
}

.u-section-1 .u-image-3 {
  height: 261px;
  box-shadow: 0 0 22px 0 rgba(51,46,41,0.2);
  margin-top: 170px;
  margin-right: auto;
  margin-left: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 382px;
}

.u-section-1 .u-image-4 {
  width: 386px;
  height: 292px;
  object-position: 50% 100%;
  background-position: 50% 100%;
  margin: 0 auto 35px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 867px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 660px);
    height: 508px;
    margin-top: 262px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 880px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 762px;
  }

  .u-section-1 .u-image-1 {
    height: 465px;
    object-position: 50% 77%;
    background-position: 50% 77%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 31px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 399px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    height: 320px;
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 399px;
  }

  .u-section-1 .u-image-3 {
    height: 222px;
    margin-top: 161px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 364px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-4 {
    width: 321px;
    height: 247px;
    margin-bottom: 21px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 746px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 505px);
    height: 452px;
    margin-top: 247px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-1 .u-image-1 {
    height: 380px;
    object-position: 50% 93.4%;
    background-position: 50% 93.4%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 13px;
    margin-bottom: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-1 .u-image-2 {
    height: 265px;
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 320px;
  }

  .u-section-1 .u-image-3 {
    height: 186px;
    margin-top: 143px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 296px;
  }

  .u-section-1 .u-image-4 {
    width: 261px;
    height: 215px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2313px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 474px);
    height: 1763px;
    margin-top: 265px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 871px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-1 {
    height: 606px;
    object-position: 50% 94.98%;
    background-position: 50% 94.98%;
    width: 494px;
    margin-right: auto;
    margin-left: -9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 522px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 761px;
  }

  .u-section-1 .u-image-2 {
    width: 440px;
    height: 697px;
    margin-top: 105px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-1 .u-image-3 {
    width: 440px;
    left: 0;
    right: auto;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 520px;
  }

  .u-section-1 .u-image-4 {
    width: 437px;
    height: 414px;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 0;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: 1200px;
    margin-top: 262px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 478px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: 328px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
    width: 280px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-1 .u-image-3 {
    width: 280px;
    height: 316px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 378px;
  }

  .u-section-1 .u-image-4 {
    width: 280px;
    height: 288px;
    margin-bottom: 35px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 469px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px auto 41px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 359px;
  background-image: none;
  background-position: 0% 0%;
}

.u-section-2 .u-icon-1 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 35px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 30px 35px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 359px;
  background-image: none;
  background-position: 0% 0%;
}

.u-section-2 .u-icon-2 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 35px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 30px 35px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 359px;
  background-position: 0% 0%;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-icon-3 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 35px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-5 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 15px;
    margin-right: 15px;
  }
} .u-section-3 {
  min-height: 480px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 735px);
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1079px;
  margin: 85px auto 50px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-1 {
  min-height: 310px;
  background-image: url("images/c.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 310px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  width: 210px;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 30px;
}

.u-section-3 .u-image-2 {
  min-height: 310px;
  background-image: url("images/InteriorDesignIdeastoThaiStyleHomeWabiSabi_3.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 310px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  width: 210px;
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 440px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 606px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 890px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    width: 173px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-3 {
    width: 173px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 515px;
  }

  .u-section-3 .u-shape-1 {
    width: 600px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 681px;
    margin-bottom: 85px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    order: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    width: 133px;
  }

  .u-section-3 .u-image-2 {
    order: 3;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 2;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-3 {
    width: 133px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1534px;
  }

  .u-section-3 .u-shape-1 {
    width: 446px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    width: 124px;
  }

  .u-section-3 .u-image-2 {
    min-height: 381px;
    order: 2;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 322px;
    order: 3;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-3 {
    width: 124px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1130px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 290px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-bottom: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 250px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-image-2 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 7px;
    padding-right: 7px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 425px;
}

.u-section-4 .u-group-1 {
  min-height: 325px;
  height: auto;
  width: 843px;
  margin: 50px auto -24px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: right center 0;
  width: 152px;
  margin: 28px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 9px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-4 .u-group-1 {
    min-height: 255px;
    margin-top: 65px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 25px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-4 .u-group-1 {
    min-height: 268px;
    margin-top: 70px;
    margin-bottom: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
    margin: 0 calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-group-1 {
    min-height: 280px;
    margin-top: 75px;
    margin-bottom: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
    margin-right: calc(((100% - 1140px) / 2) + 440px);
  }

  .u-section-4 .u-group-1 {
    min-height: 382px;
    width: 340px;
    margin: 65px auto -37px 100px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
    font-size: 2.375rem;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 40px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 979px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 65px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 599px;
}

.u-section-5 .u-image-1 {
  width: 472px;
  object-position: 50% 14.47%;
  background-position: 50% 14.47%;
  left: 0;
  right: auto;
}

.u-section-5 .u-image-2 {
  width: 307px;
  height: 341px;
  box-shadow: 0 0 25px 0 rgba(51,46,41,0.2);
  object-position: 100% 7.93%;
  background-position: 100% 7.93%;
  margin: 178px auto 5px 278px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 293px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-5 .u-text-1 {
  width: 435px;
  margin: 38px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 25px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 892px;
}

.u-section-5 .u-shape-1 {
  height: 689px;
  width: 375px;
  margin: 83px 0 0 auto;
}

.u-section-5 .u-image-3 {
  width: 419px;
  height: 375px;
  box-shadow: 0 0 22px 0 rgba(51,46,41,0.2);
  margin: -461px auto 0;
}

.u-section-5 .u-group-1 {
  width: 419px;
  min-height: 214px;
  height: auto;
  margin: -649px auto 80px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-5 .u-text-3 {
  margin: 25px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 406px;
  }

  .u-section-5 .u-image-2 {
    width: 328px;
    height: 281px;
    margin-top: 166px;
    margin-bottom: 55px;
    margin-left: 157px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 49px;
  }

  .u-section-5 .u-text-1 {
    width: 406px;
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 38px;
  }

  .u-section-5 .u-shape-1 {
    height: 614px;
    width: 337px;
    margin-top: 49px;
  }

  .u-section-5 .u-image-3 {
    width: 345px;
    height: 309px;
    margin-top: -390px;
    margin-left: 55px;
  }

  .u-section-5 .u-group-1 {
    width: 345px;
    margin-top: -545px;
    margin-bottom: 612px;
    margin-left: 55px;
    height: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-5 .u-image-1 {
    width: 311px;
  }

  .u-section-5 .u-image-2 {
    width: 251px;
    height: 215px;
    margin: 108px 0 45px auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 45px;
    width: 345px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 865px;
  }

  .u-section-5 .u-shape-1 {
    height: 650px;
    width: 278px;
    margin-top: 31px;
  }

  .u-section-5 .u-image-3 {
    width: 279px;
    height: 237px;
    margin-top: -374px;
    margin-left: 33px;
  }

  .u-section-5 .u-group-1 {
    width: 276px;
    min-height: 250px;
    margin-top: -507px;
    margin-bottom: 0;
    margin-left: 35px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1683px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-5 .u-image-1 {
    width: 375px;
  }

  .u-section-5 .u-image-2 {
    width: 305px;
    height: 242px;
    margin-top: 109px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 22px;
    width: 540px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 744px;
  }

  .u-section-5 .u-shape-1 {
    width: 261px;
  }

  .u-section-5 .u-image-3 {
    width: 407px;
    height: 322px;
    margin-top: -394px;
    margin-left: 16px;
  }

  .u-section-5 .u-group-1 {
    width: 406px;
    margin-top: -572px;
    margin-bottom: 369px;
    margin-left: 16px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1742px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: -200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-5 .u-image-1 {
    width: 280px;
    height: 462px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-5 .u-image-2 {
    width: 200px;
    height: 202px;
    margin-top: -353px;
    margin-bottom: 154px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 40px;
    width: 340px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 799px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 75px;
  }

  .u-section-5 .u-image-3 {
    width: 335px;
    margin-left: 5px;
  }

  .u-section-5 .u-group-1 {
    width: 335px;
    margin-bottom: 75px;
    margin-left: 5px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 1px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 952px;
}

.u-section-6 .u-shape-1 {
  width: 794px;
  height: 573px;
  background-image: none;
  margin: 32px 0 0 auto;
}

.u-section-6 .u-image-1 {
  height: 386px;
  width: 580px;
  margin: -466px auto 0 0;
}

.u-section-6 .u-image-2 {
  height: 518px;
  width: 453px;
  margin: -210px 32px 0 auto;
}

.u-section-6 .u-group-1 {
  width: 603px;
  min-height: 247px;
  height: auto;
  margin: -196px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  position: relative;
  margin: 25px 0 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0 25px;
}

.u-section-6 .u-group-2 {
  width: 453px;
  min-height: 213px;
  height: auto;
  margin: -783px 32px 638px auto;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-3 {
  margin: 41px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-6 .u-shape-1 {
    width: 655px;
    height: 509px;
  }

  .u-section-6 .u-image-1 {
    height: 318px;
    width: 478px;
    margin-top: -398px;
  }

  .u-section-6 .u-image-2 {
    height: 427px;
    width: 374px;
    margin-top: -119px;
    margin-right: 26px;
  }

  .u-section-6 .u-group-1 {
    width: 497px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-6 .u-group-2 {
    width: 374px;
    margin-top: -759px;
    margin-right: 26px;
    margin-bottom: 621px;
    height: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-6 .u-shape-1 {
    width: 566px;
    height: 914px;
    margin-top: 85px;
  }

  .u-section-6 .u-image-1 {
    height: 384px;
    width: 576px;
    margin-top: -670px;
    margin-left: 7px;
  }

  .u-section-6 .u-image-2 {
    height: 505px;
    width: 406px;
    margin-top: 69px;
    margin-right: 56px;
  }

  .u-section-6 .u-group-1 {
    width: 565px;
    margin-top: 59px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    width: 486px;
    min-height: 214px;
    margin-top: -1508px;
    margin-right: 17px;
    margin-bottom: 1379px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 24px;
  }

  .u-section-6 .u-shape-1 {
    width: 473px;
    height: 1126px;
    margin-top: 70px;
  }

  .u-section-6 .u-image-1 {
    height: 373px;
    width: 487px;
    margin-top: -883px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 500px;
    width: 404px;
    margin-top: 152px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    width: 509px;
    min-height: 299px;
    margin-top: 20px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-6 .u-group-2 {
    width: 404px;
    min-height: 238px;
    margin-top: -1588px;
    margin-right: 20px;
    margin-bottom: 1420px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 307px;
    height: 660px;
    margin-top: 38px;
  }

  .u-section-6 .u-image-1 {
    height: 227px;
    width: 320px;
    margin-top: -493px;
  }

  .u-section-6 .u-image-2 {
    height: 340px;
    width: 248px;
    margin-top: 52px;
    margin-right: 20px;
  }

  .u-section-6 .u-group-1 {
    min-height: 322px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-group-2 {
    width: 288px;
    min-height: 147px;
    margin-top: -1128px;
    margin-right: 0;
    margin-bottom: 1021px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-3 {
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
} .u-section-7 {
  min-height: 658px;
}

.u-section-7 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  height: 352px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-shape-2 {
  width: 447px;
  height: 412px;
  margin: 71px auto 0 calc(((100% - 1140px) / 2)  + 32px);
}

.u-section-7 .u-shape-3 {
  width: 447px;
  height: 432px;
  margin: -326px calc(((100% - 1140px) / 2)  + 33px) 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 997px;
  margin: -487px calc(((100% - 1140px) / 2)  + 71px) 102px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 475px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 33px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 32px 0 25px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 475px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 33px 0 0;
}

.u-section-7 .u-text-6 {
  margin: 32px 0 25px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 649px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-7 .u-shape-2 {
    width: 369px;
    margin-left: calc(((100% - 940px) / 2)  + 26px);
  }

  .u-section-7 .u-shape-3 {
    width: 369px;
    margin-right: calc(((100% - 940px) / 2)  + 27px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 822px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + 59px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 594px);
  }

  .u-section-7 .u-shape-2 {
    width: 282px;
    margin-left: calc(((100% - 720px) / 2)  + 20px);
  }

  .u-section-7 .u-shape-3 {
    width: 282px;
    margin-top: -234px;
    margin-right: calc(((100% - 720px) / 2)  + 25px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 630px;
    margin-top: -579px;
    margin-left: calc(((100% - 720px) / 2)  + 45px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 10px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    height: 696px;
  }

  .u-section-7 .u-shape-2 {
    width: 265px;
    margin-left: calc(((100% - 540px) / 2)  + 15px);
  }

  .u-section-7 .u-shape-3 {
    width: 265px;
    margin-top: 108px;
    margin-right: calc(((100% - 540px) / 2)  + 34px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 451px;
    margin-top: -921px;
    margin-left: calc(((100% - 540px) / 2)  + 34px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1239px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 284px);
    height: 903px;
  }

  .u-section-7 .u-shape-2 {
    width: 232px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-shape-3 {
    width: 222px;
    margin-top: 253px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 297px;
    margin-top: -1066px;
    margin-bottom: 112px;
    margin-left: calc(((100% - 340px) / 2)  + 21px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 813px;
}

.u-section-8 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 800px);
  background-image: none;
  height: 286px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-shape-2 {
  width: 447px;
  height: 547px;
  margin: 201px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1086px;
  margin: -696px auto 133px calc(((100% - 1140px) / 2));
}

.u-section-8 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8 .u-text-1 {
  margin: 51px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-form-1 {
  height: 285px;
  margin: 27px 0 51px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 581px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 735px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 660px);
  }

  .u-section-8 .u-shape-2 {
    width: 369px;
    height: 560px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 895px;
    margin-top: -708px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 503px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 617px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 417px);
  }

  .u-section-8 .u-shape-2 {
    width: 282px;
    height: 499px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 686px;
    margin-top: -648px;
    margin-bottom: 75px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 16px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-8 .u-form-1 {
    margin-bottom: 26px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 385px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 910px;
  }

  .u-section-8 .u-shape-1 {
    width: 439px;
  }

  .u-section-8 .u-shape-2 {
    width: 265px;
    height: 514px;
    margin-top: 848px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -1209px;
    margin-bottom: 113px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 696px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 290px);
    margin-top: 55px;
  }

  .u-section-8 .u-shape-2 {
    width: 238px;
    height: 385px;
    margin-top: 876px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 313px;
    margin-top: -1188px;
    margin-bottom: 95px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-form-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 364px;
  }
}